<ion-view view-title="Pin Location">
  <ion-content class="padding">
    <div class="row">
      <div class="list list-inset col">
        <div class="item item-divider">Coordinate</div>
        <div class="item">
          Latitude: {{pinlat}}<br/>
          Longitude: {{pinlng}}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="list list-inset col">
        <div class="item item-divider">Choose Area Type</div>
        <a class="item item-icon-left item-icon-right">
          <i class="icon ion-leaf"></i>
          Environment
          <i class="icon ion-ios-arrow-right"></i>
        </a>
        <a class="item item-icon-left item-icon-right">
          <i class="icon ion-home"></i>
          Residential
          <i class="icon ion-ios-arrow-right"></i>
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>