<ion-view view-title="Map">
  <ion-content class="padding">
    <div class="row">
      <div class="list col">
        <div class="item item-divider">
          <h2>Khlongmai, Nakhon Pathom</h2>
        </div>
        <div class="item item-text-wrap">
          Coordinates<br/><h2>Lat, Lng = {{markerLoc.lat | number:6}},
              {{markerLoc.lng | number:6}}</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="button-bar">
        <button ng-click="updateMap()"
          class="button button-outline button-positive icon ion-navigate"></button>
        <a href="#/tab/pin/{{markerLoc.lat}}/{{markerLoc.lng}}"
          class="button button-outline button-positive icon ion-pin"></a>
        <button class="button button-outline button-positive icon ion-plus"></button>
      </div>
    </div>
    <div id="googlemap"></div>
  </ion-content>
</ion-view>